{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HyperCube</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
</head>
<body>
    <p>Hi there!</p>
    <p>It works!</p>

    <p>
        <a href="https://en.wikipedia.org/wiki/Django" class="external_link" id="link_to_wiki_page"> bla bla
    </p>

        <div class="page-header">
            <h1><a href="/">HyperCube Blog</a></h1>
        </div>

        <div>
            <p>published: 30.07.2021, 15:46</p>
            <h2><a href="">My first post</a></h2>
            <p>Какой-то текст, который нужно было написать для первого поста.</p>
        </div>

<!--        <div class="post">-->
<!--            &lt;!&ndash;Цикл for, начало&ndash;&gt;-->
<!--            {% for post in posts %}-->
<!--                <div>-->
<!--                    &lt;!&ndash;Заголовок поста&ndash;&gt;-->
<!--                    <h1><a href="">{{ post.title }}</a></h1>-->
<!--                    &lt;!&ndash;Текст поста. |linebreaksbr прогоняет текст через фильтр-->
<!--                    для преобразования переносов строк в параграфы.&ndash;&gt;-->
<!--                    <p>{{ post.text|linebreaksbr }}</p>-->
<!--                </div>-->
<!--            {% endfor %}-->
<!--        </div>-->

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% for post in posts %}
                        <div class="post">
                            <div class="date">
                                <p>Опубликовано: {{ post.published_date }}</p>
                            </div>
                            <h1><a href="">{{ post.title }}</a></h1>
                            <p>{{ post.text|linebreaksbr }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div>
            <p>published: 30.07.2021, 15:47</p>
            <h2><a href="https://vk.com">My second post</a></h2>
            <p>Какой-то текст для второго поста. Я, зачем-то сделал ссылку на вк.... =/</p>
        </div>


</body>
</html>



<!--<h1>Заголовок</h1> — главный заголовок страницы-->
<!--<h2>Подзаголовок</h2> — для заголовков второго уровня-->
<!--<h3>Заголовок третьего уровня</h3> … и так далее, вплоть до <h6>-->
<!--<p>Параграф</p>-->
<!--<em>текст</em> — курсивный шрифт-->
<!--<strong>текст</strong> — жирный шрифт-->
<!--<br> — переход на следующую строку (внутрь br нельзя ничего поместить, также для него нет закрывающего тега)-->
<!--<a href="https://djangogirls.org">link</a> создаёт ссылку-->
<!--<ul><li>первый элемент</li><li>второй элемент</li></ul> создаёт список, такой же как этот!-->
<!--<div></div> определяет раздел страницы-->